-content_for :stylesheets do
	%link{:rel => "stylesheet", :href => "/css/libs/codemirror.css"}
	%link{:rel => "stylesheet", :href => "/css/libs/themes/default.css"}
	
-content_for :scripts do
	%script{:type => "text/javascript", :src =>"/js/lib/codemirror.js"}
	%script{:type => "text/javascript", :src =>"/js/lib/modes/coffeescript.js"}
	%script{:type => "text/coffeescript", :src => "/js/launch.coffee"}
	
%header
	%h1 SwapCode
%form#launchform
	%ul
		.row
			%li.code#haml.span9
				%p haml
				%textarea
			%li.code#_css.span9
				%div
					%input{:type => "radio", :name => "_css", :checked => true, :value => "sass"} sass
					%input{:type => "radio", :name => "_css", :checked => false, :value => "less"} less
				%textarea
		.row
			%li.code#coffee.span9
				%p coffee
				%textarea
			%li#launch.span9
				%ul
					%li
						%input{:type => "button", :value => "Compile"}
					%li
						#url_location
				%iframe