%header
	%h1 SwapCode
%form#launchform
	%ul
		%li.code#haml
			%p haml
			%textarea
		%li.code#sass
			%p sass
			%textarea
		%li.code#coffee
			%p coffee
			%textarea
		%li#launch
			%input{:type => "button", :value => "Compile"}
		%li#url_location
%iframe