-content_for :stylesheets do
	%link{:rel => "stylesheet", :type => "text/css", :href => "/css/index.css"}

-content_for :scripts do
	%script{:type => 'text/coffeescript', :src => '/js/index.coffee'}

%a{href: '/app'} Try