!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "utf-8"}
		%link{:rel => "stylesheet", :href => "/css/libs/bootstrap.css"}
		=yield_content :stylesheets
		%title SwapCode
	%body
		=yield
		%script{:type => "text/javascript", :src =>"/js/lib/jquery.min.js"}
		=yield_content :scripts
		%script{:type => "text/javascript", :src => "/js/lib/coffee-script.js"}