/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../assets/sass/index.sass */
textarea, pre {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 9, ../../assets/sass/index.sass */
em {
  font-style: oblique;
}

/* line 12, ../../assets/sass/index.sass */
pre {
  font-family: "Monaco", "Menlo", "Meslo", "Consolas", monospace;
  line-height: 1.1em;
}

/* line 16, ../../assets/sass/index.sass */
html {
  background: #292c3d;
  font-family: "Calibri", sans-serif;
}

/* line 20, ../../assets/sass/index.sass */
header {
  color: white;
}
/* line 23, ../../assets/sass/index.sass */
header h1 {
  font-size: 3em;
  margin: 0.3em;
}

/* line 27, ../../assets/sass/index.sass */
.wrapper {
  min-width: 360px;
  max-width: 950px;
  margin: auto;
  margin-bottom: 1.5em;
}

/* line 33, ../../assets/sass/index.sass */
.content {
  background: white;
  border-top: 0.25em solid #ff9933;
  padding: 1em;
  padding-right: 1.25em;
  margin-top: 1em;
  overflow: auto;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 42, ../../assets/sass/index.sass */
.hero {
  margin-bottom: 1.5em;
}
/* line 45, ../../assets/sass/index.sass */
.hero h2 {
  font-size: 2em;
  line-height: 1.5em;
}
/* line 49, ../../assets/sass/index.sass */
.hero p {
  font-size: 1.35em;
  line-height: 1.5em;
  color: gray;
}

/* line 54, ../../assets/sass/index.sass */
.human {
  float: left;
  width: 17em;
  margin: 0 0.3em;
}
/* line 59, ../../assets/sass/index.sass */
.human h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
/* line 63, ../../assets/sass/index.sass */
.human p {
  line-height: 1.5em;
}
/* line 66, ../../assets/sass/index.sass */
.human pre {
  margin: 1em 0;
}

/* line 69, ../../assets/sass/index.sass */
.keyword {
  color: #c37322;
}

/* line 72, ../../assets/sass/index.sass */
.special {
  color: #407fbf;
}

/* line 75, ../../assets/sass/index.sass */
.string {
  color: #339933;
}

/* line 78, ../../assets/sass/index.sass */
.button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66aacc), color-stop(100%, #336699));
  background-image: -webkit-linear-gradient(#66aacc, #336699);
  background-image: -moz-linear-gradient(#66aacc, #336699);
  background-image: -o-linear-gradient(#66aacc, #336699);
  background-image: -ms-linear-gradient(#66aacc, #336699);
  background-image: linear-gradient(#66aacc, #336699);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  -webkit-box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  -o-box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  border: 0.1em solid #264c73;
  display: inline-block;
  color: white;
  margin: 1em 0;
  padding: 0.75em 1em;
  text-decoration: none;
  text-shadow: 0 0.075em 0.1em #19334d;
}

/* line 90, ../../assets/sass/index.sass */
.hero .button {
  font-size: 1.5em;
}

/* line 93, ../../assets/sass/index.sass */
.link {
  display: inline-block;
  padding-left: 1.2em;
  visibility: hidden;
}
/* line 97, ../../assets/sass/index.sass */
.link a {
  display: inline-block;
}

/* line 101, ../../assets/sass/index.sass */
#errors h1 {
  font-size: 1.5em;
  color: #b81430;
  display: none;
}
/* line 105, ../../assets/sass/index.sass */
#errors p {
  margin: 1.6em 0em;
}

/* line 108, ../../assets/sass/index.sass */
.editor h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* line 112, ../../assets/sass/index.sass */
.editor select {
  width: 15em;
}

/* line 115, ../../assets/sass/index.sass */
#templ_editor, #style_editor, #script_editor {
  position: relative;
  height: 15em;
  width: 100%;
  font-size: 14px;
  line-height: 1.5em;
  border: 1px solid gray;
}

/* line 123, ../../assets/sass/index.sass */
.ace-dawn .ace_gutter {
  width: 36px !important;
}

/* line 126, ../../assets/sass/index.sass */
.ed.ace_editor.ace-dawn {
  margin: 1.2em 0em;
}
