/* line 7, ../../assets/sass/index.sass */
html, body {
  background-color: white;
}

/* line 10, ../../assets/sass/index.sass */
body {
  overflow: hidden;
  margin: auto;
  width: 100%;
}

/* line 15, ../../assets/sass/index.sass */
#main_menu, #expo, #expo ul {
  width: 67%;
  margin: auto;
}

/* line 22, ../../assets/sass/index.sass */
header {
  background-color: #a2204b;
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333;
  overflow: hidden;
  padding: 0em 16%;
}
/* line 29, ../../assets/sass/index.sass */
header h1 {
  color: #e6e6e6;
  float: left;
  font: 2.7em "Lucida Grande";
  padding: 1em 1em 0em 3.5em;
}
/* line 34, ../../assets/sass/index.sass */
header input {
  background-color: #29a37a;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #666666;
  text-shadow: 0px 0px 4px black;
  color: white;
  float: right;
  font: 2.2em "Lucida Grande";
  padding: 0.4em 0.7em;
  margin: 1em;
}
/* line 45, ../../assets/sass/index.sass */
header input:hover {
  text-shadow: 0px 0px 4px #4d4d4d;
  background-color: #14b881;
}

/* line 50, ../../assets/sass/index.sass */
#main_menu ul {
  background-color: #333333;
  margin: 0em;
  overflow: hidden;
  padding: 1em;
  padding-left: 1.6em;
}
/* line 56, ../../assets/sass/index.sass */
#main_menu ul li {
  display: inline-block;
  padding: 0.5em;
  padding-right: 2em;
}
/* line 60, ../../assets/sass/index.sass */
#main_menu ul li a {
  color: #e6e6e6;
  font: 1.3em "Lucida Grande";
}
/* line 63, ../../assets/sass/index.sass */
#main_menu ul li a:hover {
  text-decoration: none;
  color: white;
}

/* line 67, ../../assets/sass/index.sass */
#expo {
  overflow: hidden;
  box-shadow: 0px 3px 3px #666666;
  background-color: #333333;
  padding: 3.5em 4em 1.8em 4em;
  margin: 0 auto;
  display: table;
}
/* line 74, ../../assets/sass/index.sass */
#expo p {
  text-align: center;
}
/* line 76, ../../assets/sass/index.sass */
#expo ul {
  width: 100%;
  margin: auto;
}
/* line 79, ../../assets/sass/index.sass */
#expo ul li {
  display: inline-block;
}
/* line 81, ../../assets/sass/index.sass */
#expo ul li > pre, #expo ul li > iframe {
  height: 230px;
  min-height: 230px;
  min-width: 230px;
  box-shadow: inset 0px 0px 5px #666666;
}
/* line 86, ../../assets/sass/index.sass */
#expo ul li > pre {
  border: none;
  font: 1.1em "Monaco", "Consolas", "Ubuntu Mono", mono-space;
  padding: 1.2em 1.5em;
  text-align: left;
  color: #4d4d4d;
}
/* line 92, ../../assets/sass/index.sass */
#expo ul li > p {
  color: #e6e6e6;
  font: 2px "Lucida Grande";
  letter-spacing: 0.2em;
  opacity: 0;
  padding-top: 1em;
  padding-bottom: 0.6em;
  text-transform: lowercase;
}
/* line 100, ../../assets/sass/index.sass */
#expo ul #code {
  width: 44%;
}
/* line 102, ../../assets/sass/index.sass */
#expo ul #view {
  width: 44%;
}
/* line 104, ../../assets/sass/index.sass */
#expo ul #view iframe {
  width: 96%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1.2em 1em;
  margin-bottom: 14px;
  background-color: whiteSmoke;
}
/* line 111, ../../assets/sass/index.sass */
#expo ul #arrow {
  width: 10%;
  height: 100%;
  background: url();
}

/* line 117, ../../assets/sass/index.sass */
#languages ul {
  width: 100%;
  padding: 0em;
  margin: 0em;
  overflow: hidden;
  text-align: center;
}
/* line 123, ../../assets/sass/index.sass */
#languages li {
  list-style: none;
  display: inline-block;
}

@media screen and (max-width: 1230px) {
  /* line 132, ../../assets/sass/index.sass */
  #expo, #main_menu {
    width: 75%;
  }
}
@media screen and (max-width: 1105px) {
  /* line 137, ../../assets/sass/index.sass */
  #expo, #main_menu {
    width: 85%;
  }
}
@media screen and (max-width: 967px) {
  /* line 142, ../../assets/sass/index.sass */
  #expo, #main_menu {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  /* line 147, ../../assets/sass/index.sass */
  #expo, #main_menu {
    width: 100%;
  }

  /* line 150, ../../assets/sass/index.sass */
  #expo ul {
    text-align: center;
  }
  /* line 152, ../../assets/sass/index.sass */
  #expo ul #arrow, #expo ul #view {
    display: none;
  }
  /* line 154, ../../assets/sass/index.sass */
  #expo ul #code {
    width: 70%;
  }
}
@media screen and (max-width: 771px) {
  /* line 160, ../../assets/sass/index.sass */
  header h1 {
    padding-left: 1em;
  }
}
@media screen and (max-width: 641px) {
  /* line 165, ../../assets/sass/index.sass */
  header h1 {
    padding-left: 0em;
  }
}
@media screen and (max-width: 590px) {
  /* line 169, ../../assets/sass/index.sass */
  header {
    text-align: center;
  }
  /* line 171, ../../assets/sass/index.sass */
  header h1 {
    padding-right: 0em;
  }
  /* line 173, ../../assets/sass/index.sass */
  header #try {
    width: 100%;
    margin: 1em auto;
  }
  /* line 176, ../../assets/sass/index.sass */
  header h1, header input {
    float: none;
  }

  /* line 178, ../../assets/sass/index.sass */
  #code pre {
    padding-right: 0em;
  }
}
@media screen and (max-width: 569px) {
  /* line 182, ../../assets/sass/index.sass */
  #expo ul #code {
    width: 100%;
  }
  /* line 184, ../../assets/sass/index.sass */
  #expo ul #code pre {
    height: 240px;
  }
}
