/* line 17, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../assets/sass/index.sass */
textarea, pre {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 9, ../../assets/sass/index.sass */
em {
  font-style: oblique;
}

/* line 12, ../../assets/sass/index.sass */
pre {
  font-family: "Monaco", "Menlo", "Meslo", "Consolas", monospace;
  line-height: 1.1em;
}

/* line 16, ../../assets/sass/index.sass */
html {
  background: #292c3d;
  font-family: "Calibri", sans-serif;
}

/* line 20, ../../assets/sass/index.sass */
header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66aacc), color-stop(100%, #336699));
  background-image: -webkit-linear-gradient(#66aacc, #336699);
  background-image: -moz-linear-gradient(#66aacc, #336699);
  background-image: -o-linear-gradient(#66aacc, #336699);
  background-image: -ms-linear-gradient(#66aacc, #336699);
  background-image: linear-gradient(#66aacc, #336699);
  color: white;
}
/* line 24, ../../assets/sass/index.sass */
header h1 {
  font-size: 3em;
  font-family: "Eurostile", "Menlo", "Consolas", sans-serif;
  padding: 0.4em;
  padding-bottom: 0.45em;
  text-shadow: 0 0.05em 0.05em #19334d;
}

/* line 31, ../../assets/sass/index.sass */
.wrapper {
  background: white;
  min-width: 360px;
  max-width: 950px;
  margin: 0 auto 1.5em auto;
}

/* line 37, ../../assets/sass/index.sass */
.content {
  padding: 1em;
  padding-right: 1.25em;
  overflow: auto;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 43, ../../assets/sass/index.sass */
.navigation {
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(#f5f5f5, #d9d9d9);
  background-image: -moz-linear-gradient(#f5f5f5, #d9d9d9);
  background-image: -o-linear-gradient(#f5f5f5, #d9d9d9);
  background-image: -ms-linear-gradient(#f5f5f5, #d9d9d9);
  background-image: linear-gradient(#f5f5f5, #d9d9d9);
  border: 0.1em solid gray;
  color: #333333;
  overflow: hidden;
  margin-bottom: 1.5em;
}
/* line 51, ../../assets/sass/index.sass */
.navigation li {
  border-right: 0.075em solid gray;
  cursor: pointer;
  float: left;
  font-size: 1.5em;
  padding: 0.75em 1.5em;
  border-top: #bf4040;
}
/* line 59, ../../assets/sass/index.sass */
.navigation li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
/* line 62, ../../assets/sass/index.sass */
.navigation li.active {
  color: #4d3c19;
  background: #ecdfc6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2ead9), color-stop(100%, #e6d5b3));
  background-image: -webkit-linear-gradient(#f2ead9, #e6d5b3);
  background-image: -moz-linear-gradient(#f2ead9, #e6d5b3);
  background-image: -o-linear-gradient(#f2ead9, #e6d5b3);
  background-image: -ms-linear-gradient(#f2ead9, #e6d5b3);
  background-image: linear-gradient(#f2ead9, #e6d5b3);
}

/* line 67, ../../assets/sass/index.sass */
.hero {
  margin-bottom: 1.5em;
}
/* line 70, ../../assets/sass/index.sass */
.hero h2 {
  font-size: 2em;
  line-height: 1.5em;
}
/* line 74, ../../assets/sass/index.sass */
.hero p {
  font-size: 1.35em;
  line-height: 1.5em;
  color: gray;
}

/* line 79, ../../assets/sass/index.sass */
.human {
  float: left;
  width: 17em;
  margin: 0 0.3em;
}
/* line 84, ../../assets/sass/index.sass */
.human h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
/* line 88, ../../assets/sass/index.sass */
.human p {
  line-height: 1.5em;
}
/* line 91, ../../assets/sass/index.sass */
.human pre {
  margin: 1em 0;
}

/* line 94, ../../assets/sass/index.sass */
.keyword {
  color: #c37322;
}

/* line 97, ../../assets/sass/index.sass */
.special {
  color: #407fbf;
}

/* line 100, ../../assets/sass/index.sass */
.string {
  color: #339933;
}

/* line 103, ../../assets/sass/index.sass */
.button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66aacc), color-stop(100%, #336699));
  background-image: -webkit-linear-gradient(#66aacc, #336699);
  background-image: -moz-linear-gradient(#66aacc, #336699);
  background-image: -o-linear-gradient(#66aacc, #336699);
  background-image: -ms-linear-gradient(#66aacc, #336699);
  background-image: linear-gradient(#66aacc, #336699);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  -webkit-box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  -o-box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  box-shadow: inset 0 0.1em 0.01em #b3cce6, inset 0 -0.1em 0.01em #2d5986;
  border: 0.1em solid #264c73;
  display: inline-block;
  color: white;
  margin: 1em 0;
  padding: 0.75em 1em;
  text-decoration: none;
  text-shadow: 0 0.075em 0.1em #19334d;
}

/* line 115, ../../assets/sass/index.sass */
.hero .button {
  font-size: 1.5em;
}

/* line 118, ../../assets/sass/index.sass */
.link {
  display: inline-block;
  padding-left: 1.2em;
  visibility: hidden;
}
/* line 122, ../../assets/sass/index.sass */
.link a {
  color: #1f5c7a;
  display: inline-block;
  text-decoration: none;
}
/* line 126, ../../assets/sass/index.sass */
.link a:hover {
  color: #1f7ead;
}

/* line 130, ../../assets/sass/index.sass */
#errors h1 {
  font-size: 1.5em;
  color: #b81430;
  display: none;
}
/* line 134, ../../assets/sass/index.sass */
#errors p {
  margin: 1.6em 0em;
}

/* line 137, ../../assets/sass/index.sass */
.editor h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* line 141, ../../assets/sass/index.sass */
.editor select {
  width: 15em;
}

/* line 144, ../../assets/sass/index.sass */
#templ_editor, #style_editor, #script_editor {
  position: relative;
  height: 15em;
  width: 100%;
  font-size: 14px;
  line-height: 1.5em;
  border: 1px solid gray;
}

/* line 152, ../../assets/sass/index.sass */
.ace-dawn .ace_gutter {
  width: 36px !important;
}

/* line 155, ../../assets/sass/index.sass */
.ed.ace_editor.ace-dawn {
  margin: 1.2em 0em;
}
