iframe {
	width: 100%;
	height: 41%;
}

header h1 {
	text-align: center;
	margin: 1em auto;
}

#launchform {
	margin: auto;
	width: 80%;
}

#launch li {
	display: inline-block;
}

html, body {
	background-color: hsl(50, 50%, 80%);
}

.CodeMirror {
	background-color: hsl(50, 50%, 100%);
}